* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
  width: 100%;
}

body {
  display: grid;
  align-content: start;
  justify-items: center;
  padding: 20px;
}

header {
  background-color: rgb(218, 218, 218);
  width: 100%;
  height: 90px;
  border-radius: 3rem;
  /* margin-top: 20px; */
  margin: 0 20px;

}

main {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(233, 233, 233, 0);
  gap: 1rem;
  /* padding: 0 30px; */
  margin-top: 50px;
}

.model-item {
  width: 300px;
  height: 400px; /* Трохи більше, щоб знизу помістився текст */
  background: #ffffff;
  border: 1px solid #ccc;
  border-radius: 3rem;
  
  /* ЦІ ДВА РЯДКИ ВСЕ ВИПРАВЛЯЮТЬ: */
  overflow: hidden;
  position: relative;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Стилізуємо сам 3D холст, який створив Three.js */
.model-item canvas {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.model-item p {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  color: black;
  font-weight: bold;
  font-family: sans-serif;
  width: 100%;
}

footer {
  height: 0px;
}